
body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
  background-color: rgb(42, 110, 76);
  @media only screen and (max-width: 800px) {
    padding: 10px;
  }
 
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
