.contact-page {
    width: 100%;
    margin-top: 60px;

    .contact-content {
      padding-bottom: 2em; 

      .contact-message {
        color: white;
        font-family: 'Pacifico', cursive;
        text-align: center; 
        border-radius: 5em;
        
        
        .contact-components {
        display: flex;
        justify-content: center;
        color: black;
      }
    }

    
  }
}