 .header {
  height: 70px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin-bottom: 25px;
  z-index: 1;
  padding-bottom: 5em;
  background-color: rgba(132, 28, 230,0.6);

  

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
     
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      
    }
  }
}
